#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  font-family: "McLaren", cursive;
  display: inline-block;
}

.container {
  position: relative;
  width: 100%;
  display: inline-block;
  align-items: center;
  margin: 0;
}

img{
  text-align: center;
  width: 250px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: contain;
  border: 1px solid white; 
  background-color:white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.tryAgainButton{
  margin-top: 20px;
  margin-bottom: 20px;
}


/* table.css */
.table-container {
   margin-top: 20px;
   margin-bottom: 20px;
}
table {
   width: 100%;
   border-collapse: collapse;
}
 table, th, td {
    border: 1px solid black;
}
th, td {
  padding: 10px;
  text-align: center;
}

/*QuestionIcon.css */
.question-icon-container {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  align-items: center;
  position: relative;
}

.question-icon {
  cursor: pointer;
  font-size: 24px;
  padding: 50px 5px;
}


/*Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}



.bold-text {
  font-weight: 700; /* 700 is typically the value for bold */
}
